<a href="https://linkedin.com/in/cheska-ignacio-400b97170/{{ include.username }}"><span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span><span class="username">{{ include.username }}</span></a>
